#care{
    padding: 10rem;   
    .careTitle{
        font-size: 80px;
        font-weight: 800;
        font-family: 'Times New Roman', Times, serif;
    }
    .minititle{
        color: #1f385a;
        font-size: 50px;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
    }
    .CareSubTitle{
        width: 45%;
        margin: auto;
        font-family: 'Times New Roman';
        font-size: 24px;
    }
}

/* Initial style, hides the text */
.careTitle,
.minititle,
.CareSubTitle {
  transform: translateY(-20px); /* Move the text up initially */
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Style when text is visible */
.careTitle.visible,
.minititle.visible,
.CareSubTitle.visible {
  transform: translateY(0); /* Bring the text down */
  opacity: 1;
}

  
  .huminity{
    background-color: black;
    color: white;
    padding: 10rem;
    font-family: 'Times New Roman', Times, serif;
    
    .title{
      font-size: 37px;
      color: grey;
    }
    .maintitle{
      font-size: 37px;

    }
   
    
  }


.huminity {
  background-color: transparent;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.huminity-scrolled {
  background-color: #171414; 
  color: white; 
}

  #docter{
    padding: 6rem;

    .docTitle{
      font-family: 'Times New Roman', Times, serif;
      font-size: 28px;
      font-weight: 600;
    }
    .docSubtitle{
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      font-weight: 600;
    }
    .docInfo{
      width: 45%;
   margin: auto;
   margin-top: 1.5rem;
      font-size: 24px;
      font-family: 'serif';
    }
    .minituortitle{
      background-color: rgb(252, 252, 252);
      margin-top: 2rem;
      font-size: 18px;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
      color: #22406a;
    }
  }
#feedback{
  padding: 1rem;
  .feedtitle{
    font-family: 'Times New Roman', Times, serif;
   font-size: 54px;
   font-weight: 800;
   line-height: 4rem;
  }
  .feedbacks{
    display: flex;
    gap: 1rem; 
  margin-top: 3rem;
    
    }
    .feed{
      text-align: left;
      width: 50%;
      margin-top: 1.5rem;
      font-family: 'Times New Roman', Times, serif;
      padding: 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: rgb(247, 247, 247);
      border-radius: 0.5rem;
      .star{
      color: rgb(238, 192, 75);
      }
      .thumbIcon{
        color: rgb(238, 192, 75);
      }
  }
}
 #healthcare{
  padding: 6rem;
  .healthtitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    font-weight: 800;
    line-height: 3.5rem;
  }
  .healthblogs{
    display: flex;
    gap: 1rem;
    .blogs{
      margin-top: 2rem;
      text-align: left;
      width: 50%;
      font-family: 'Times New Roman', Times, serif;
      padding: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      border-radius: 0.8rem;
      cursor: pointer;
      .blogimg{
        width: 250px;
        height: 150px;
      }
    }
  }
 }
 #docs {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  /* margin-top: 2rem; */
}

.profiles {
  animation: moveRight 10s linear infinite;
  white-space: nowrap;
 
}

.doc {
  width: 250px; /* Adjust the width of your images */
  height: 150;
 
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjust this value to match the total width of all images */
  }
}

#AartasApp{
  padding: 2rem;
  .apptitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #22406a;
    font-weight: bold;
  }
  .mainTitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 58px;
    font-weight: 500;
    line-height: 4rem;
  }
  .appImg{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    justify-content: space-around;
    .img{
      margin-top: 6rem;
    }
  }
}

.Clinic {
  background-image: url(../../assets/background.png);
  background-repeat: no-repeat;
background-size: contain;
  height: 600px;
  margin: auto;
  flex-direction: column;
  justify-content: flex-end;
  .clinicInfo{
    display: flex;
    color: white;
    width: 50%;
    margin: auto;
justify-content: space-around;
position: relative;
top: 350px; 

.info{
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 800;
}
.clincbtn{
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
  border-radius: 5rem;
  font-size: 24px;
  padding: 0.5rem;
  border: none;
}
  }
}

.ClinicInterior{
  background-image: url(../../assets/back-ground.png);
  background-repeat: no-repeat;
background-size: contain;
  height: 800px;
  margin: auto;
  .clinictitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    font-weight: 800;
    text-align: left;
    color: white;
    padding: 1.5rem;
    position: relative;
    top: 300px;
    line-height: 0.3rem;
  }
  .clinicsubtitle{
    padding: 1.5rem;
    color: white;
    text-align: left;
    position: relative;
    top: 280px;
  }
}